.main-image{
    width: 100%;
}

.tag-area {
    position: relative;
}
    
.tag {
    position: absolute;
}

.tag img{
    width: 27px;
}

.tag img:hover {
    width: 35px;
}

.selected-tag img{
    width: 42px;
}

.selected-tag img:hover {
    width: 42px;
}




