.notesList {
    padding-top: 1.5vw;
    padding-left: 2.5vw;
    color:#525252;
}

.scrollBox {
    height: 70vh;
}

.note {
    height: 60px;
}

.selected-note {
    height: 60px;
    background-color: #F5D0A9;
}

.note:hover {
    background-color: #F8ECE0;
}