.notesList {
    padding-top: 1.5vw;
    padding-left: 2.5vw;
    background-color:#FFFFF3;
    color:#525252;
}

.listScroll {
    height: 70vh;
}

.selectednote {
    background-color: violet;
}

.note:hover {
    background-color: white;
}