.dropzone {
    color:#a1a1a1;
    border-width: 2;
    border-radius: 2;
    border-color: #a1a1a1;
    border-style: dashed;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center; 
    min-height: 40vh;
}

